html {
    font-family: system-ui;
}

h2.text {
    margin-left: 5%;
}

h3 {
    margin-left: 8%;
}
.top-bar {
    display: flex;
    justify-content:right;
}

a.menu-bar:link {
    color:aliceblue;
    background-color: transparent;
    text-decoration: none;
    font-size:large;
}

a.menu-bar:visited {
    color:aliceblue;
    background-color: transparent;
    text-decoration: none;
    font-size:large;
}

.social {
    display: flex;
    justify-content: space-around;
}

.fa-facebook {
    color:rgba(253, 143, 161, 0.849);
    background-color: transparent;
    text-decoration: none;
    size: 10px;
}

.fa-instagram {
    color:rgba(253, 143, 161, 0.849);
    background-color: transparent;
    text-decoration: none;
}

.menu-bar {
    padding: 2px;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    background-color: rgba(253, 143, 161, 0.849);
}

h4 {
    margin-left: 8%;
    line-height: 1em;
}

.bottom-line {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.contact {
    color: rgba(253, 143, 161, 0.849);
}
